*{

    background-color: black;

}
#btnone{
    background-color: black;
    color: aqua;
    border-color: antiquewhite;
    border-radius: 5px;
    padding: 10px 20px;
    
    
}
#result{
    align-items: center;
    color: rgb(172, 115, 42);
   align-self: center;
    font-size: 50px;
}
h1{
    text-align: center;
    color: azure;
}